<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<database>
  <host>localhost</host>
  <name>medwatch</name>
  <user>kurt</user>
  <password>kk0457</password>
</database>
<files>
    <file name="data/foidev.txt" functor="Maude\DeviceTableFunctor" dbinsert_iter="Maude\DeviceTableInsertIterator">
    <indecies>
        <index field_name="mdr_report_key">0</index>
        <index field_name="device_sequence_no">4</index>
        <index field_name="device_report_product_code">25</index>
    </indecies>
    </file>
    <file name="data/mdrfoi.txt"  functor="Maude\MdrTableFunctor" dbinsert_iter="Maude\MdrTableInsertIterator">
    <indecies>
        <index field_name="mdr_report_key">0</index>
        <index field_name="report_source_code">3</index>
        <index field_name="date_received">7</index>
    </indecies>
    </file>
    <file name="data/foitext.txt"  functor="Maude\TextTableFunctor" dbinsert_iter="Maude\TextTableInsertIterator">
    <indecies>
        <index field_name="mdr_report_key">0</index>
        <index field_name="text_key">1</index>
        <index field_name="text_type_code">2</index>
	<index field_name="patient_sequence_no">3</index>
        <index field_name="text">5</index>
    </indecies>
    </file>
</files>
</configuration>
