<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<database>
  <host>localhost</host>
  <name>medwatch_redux</name>
  <user>kurt</user>
  <password>kk0457</password>
</database>
<files>
    <file name="data/foidev.txt" functor="Maude\DeviceTableFunctor" dbinsert_iter="Maude\DeviceTableInsertIterator">
    <indecies>
        <index>0</index>
        <index>4</index>
        <index>25</index>
    </indecies>
    </file>
    <file name="data/mdrfoi.txt"  functor="Maude\MdrTableFunctor" dbinsert_iter="Maude\MdrTableInsertIterator">
    <indecies>
        <index>0</index>
        <index>3</index>
        <index>7</index>
    </indecies>
    </file>
    <file name="data/foitext.txt"  functor="Maude\TextTableFunctor" dbinsert_iter="Maude\TextTableInsertIterator">
    <indecies>
        <index>0</index>
        <index>1</index>
        <index>2</index>
	<index>3</index>
        <index>5</index>
    </indecies>
    </file>
</files>
</configuration>
